article:nth-of-type(even) {
    background-color: #f0f0f0;
  }
  
  article p:last-of-type {
    font-style: italic;
  }
  
  article section > :first-child {
    font-weight: bold;
  }
  
  p:blank {
    display: none;
  }
  
  article:has(img) h1,
  article:has(img) h2,
  article:has(img) h3 {
    border-bottom: 2px solid #333;
  }
  
  footer a {
    color: orange;
    text-decoration: underline;
  }
  